body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    padding: 10px;
}

    header nav a {
        color: white;
        margin-right: 15px;
        text-decoration: none;
    }

main.container {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

input, button {
    margin: 5px;
}
